script(src="/js/components/app.js")
script(src="/js/components/controllers/HomeController.js")
script(src="/js/components/controllers/LoadConfigController.js")
script(src="/js/components/controllers/StatusController.js")
script(src='/js/components/services/ISaveWaterAPI.js')
script(src="/js/components/services/settings.js")