script(src="/js/components/app.js")
script(src="/js/components/controllers/HomeController.js")
// script(src="/js/components/com.johnwoconnor/app.js")
// script(src="/js/components/com.johnwoconnor/widgets/widgets.js")
// script(src="/js/components/com.johnwoconnor/widgets/iphone.js")
// script(src="/js/components/com.johnwoconnor/widgets/newsFeed.js")