div(layout="column")
    md-toolbar
        div.md-toolbar-tools
            span ISaveWater Simulator Driver
            span(flex)
            md-button(ui-sref="loadConfig") Load Config
            md-button(ui-sref="simulator") Simulator
            md-button(ui-sref="status") Status