md-content(flex, layout-fill)
    div(layout-align="space-around", ng-hide="loaded")
        md-progress-circular(md-mode="indeterminate")
    md-tabs(md-border-bottom, flex, md-dynamic-height, ng-show="loaded", ng-repeat="thisArea in areas track by $index", layout-fill)
        md-tab(label="{{area.name}}", ng-repeat="area in thisArea track by $index")
            md-content.md-padding(layout="row", layout-align="space-around start")
                md-card(md-padding)
                    md-card-title(style="padding-bottom: 0; margin-bottom: 0", flex="none")
                        md-card-title-text(flex="none") Overcurrent
                        md-switch(ng-model="data[area.name].overcurrent.enabled", ng-change="overcurrent(area, data[area.name].overcurrent.enabled)", style="padding-top: 0; margin-top: 0; margin-left: 10px;")
                md-card(md-padding)
                    md-card-title(style="padding-bottom: 0; margin-bottom: 0", flex="none")
                        md-card-title-text(flex="none") Flow
                        md-switch(ng-model="data[area.name].flow.enabled", style="padding-top: 0; margin-top: 0; margin-left: 10px;")
                    md-card-content
                        span.md-body-1 Flow Rate
                        md-slider(min="0", max="60", ng-model="data[area.name].flow.rate")
                        input(type="number", ng-model="data[area.name].flow.rate")
                md-card(md-padding, ng-repeat="zone in area.zones")
                    md-card-title(style="padding-bottom: 0; margin-bottom: 0", flex="none")
                        md-card-title-text(flex="none") {{ zone.name }}
                        md-switch(style="padding-top: 0; margin-top: 0; margin-left: 10px;")
                    md-card-content(ng-repeat="valve in zone.valves")
                        md-switch(ng-model="data[area.name][zone.id][valve.id].enabled")