extends layout

block variables
  - var bodyId = "page-top";
  - var bodyClasses = "landing-page";

append content
  div(ng-controller="HomeController", layout="row", flex)
    include _home

append scripts
  include _angularAppScripts 